mixin styles(...styles)
	-each style in styles
		link(rel="stylesheet", href=style)

mixin scripts(...scripts)
	-each script in scripts
		script(src=script)

mixin projects(header, subheader, text)
	.info__item
		h2=header
		p.sub-2=subheader
		p=text
